body {
	font-family: "Libre Baskerville", serif;
}

.sinevas {
	position: fixed;
	width: 100%;
	height: 100%;
}

.wraps {
	width: 100%;
	font-size: 100%;
	margin-top: 50px;
}

.text-centered {
	text-align: center;
}

.cloud {
	margin-top: 3em;
	width: 50%;
}

.sc-name {
	position: relative;
	top: -140px;
}

.sc-name-in {
	border: none;
	background: rgba(0,0,0,0);
}

.sc-name-in {
	font-size: 1em;
	font-family: "Libre Baskerville", serif;
}

.sc-name-in:focus {
	outline: none;
}