{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static "main.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
 function FocusOnInput()
 {
	 document.getElementById("sc-name-in").focus();
 }
 </script>
</head>
<body onload="FocusOnInput()">
	<div class="text-centered wraps">
		<p>well hey, so could you tell us your soundcloud?</p>
		<img src="{% static "cloud.png" %}" class="cloud">
		<form class="sc-name" method="POST" action="process_username">{% csrf_token %}
			<label for="sc-name-in">it's</label>
			<input type="text" name="name" class="sc-name-in" id="sc-name-in"></input>
		</form>
	</div>
</body>
</html>